body{
    margin: 0px;
    display: flex;
}

input{
    float: left; 
    width: 50%;
    margin-left: 20px;
    border-style: outset;
    padding: 12px 20px;
}




.tables{
    height: 100%;
    width: 30%;
    
    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
   
}

.items{
    
    height: 100%;
    width: 100%;
    text-align: center;
    border-left: 5px solid black;
    padding-top: 30px;
    padding-bottom: 30px;


}

.table-name{
    border-style: outset;
    margin: 20px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    text-align: left;
}

.item{
    border-style: outset;
    margin: 20px;
    padding: 20px 10px 20px 10px;
    text-align: left;

}

#modal{
    display:none;
    position: absolute;
    height: 500px;
    width: 600px;
    top: 200px;
    left: 500px;
    z-index: 10;
    background-color: beige;
    text-align: center;


}



